@mixin fw400 {
    font-weight: 400;
}


//times
.timesWrap {

    h2 {
        padding-top: 30px;
        font-size: 40px;
        @include fw400;
    }
    h3 {
        @include fw400;
    }
}

// weathers
.weathersWrap {
    $p30:30px;

    h4 {
        padding: $p30 0;
        font-size: 100px;
        position: relative;

        span {
            position: absolute;
        }
    }
    h5 {
        padding: $p30 0;
        font-size: 30px;
        @include fw400;
    }
}